.top-menu-bar {
  
  &__button {
    border: none;
    height: 60px;
    width: 100px;
    cursor: pointer;
    background-color:rgba(0,0,0,0);
    font-weight: 700;
    color: #6B6C72;
    float: right;
  }
  &__text {
    margin-left: 8px;
    font-size: 16px;
  }
  &__icon-container {
    display: flex;
  }
  &__logo-text {
    color: #008FC5;
    line-height: 60px;
    font-weight: 700;
    font-size: 22px;
  }
  &__logo {
    height: 44px;
    width: 36px;
    padding: 8px 16px;
  }
}