@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 840px;
    width: 100%;
}
.content {
    display: flex;
    flex: 1;
}
.top-menu {
  background-color: #f8f8f8;
  height: 60px;
}
.side-menu {
    width: 240px;
    background-color: #37474F;
}
.main {
    flex: 1;
    padding: 16px;
}
.side-nav-bar {
    &__list {
      padding: 8px 0;
    }
    &__list-item {
      padding: 16px;
      text-decoration: none;
      text-align: left;
      display: block;
      color: #CFD8DC;
      font-size: 16px;
      border-bottom: 0.5px solid #CFD8DC;
      &:hover {
        color: white;
        border-bottom: 0.2px solid white;
      }
    }
  }