@import '../../common/styles/_style';

.accordion {
  &__container {
    width: 100%;
  }

  &__header {
    height: 48px;
    background-color: $gray-lightest;
    display: flex;
    border: 0.5px solid $gray;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    &--title {
      margin: 0 16px;
      line-height: 48px;
      color: $black;
      width: 70%;
      font-size: 20px;
      font-weight: 700;
    }

    &--toggle {
      width: 30%;
      text-align: right;
      line-height: 48px;
      padding-right: 16px;
    }

    &--sign {
      text-decoration: none;
      font-size: 20px;
      font-weight: 700;
    }
  }

  &__header-button {
    width: 100%;
    border: none;
    text-align: left;
    &:hover {
      background-color: $gray;
    }
    &:focus {
      outline: 0;
    }
  }

  &__body-container {
    &--open {
      border-bottom: 0.5px solid $gray;
      border-right: 0.5px solid $gray;
      border-left: 0.5px solid $gray;
      padding: 16px;
      transition:transform 0.3s ease-out;
      transform-origin:top;
      transform:scaleY(1);
    }

    &--close {
      border-bottom: 0.5px solid $gray;
      border-right: 0.5px solid $gray;
      border-left: 0.5px solid $gray;
      padding: 16px;
      transition:transform 0.3s ease-out;
      transform-origin:top;
      transform:scaleY(0);
    }
  }
}